<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shreya Gupta's Profile</title>
</head>
<body>

    <h1>About me</h1>

        <h2>Background and Extracurriculars</h2>
            <p> I am currently a <em>senior</em> at the University of Maryland, College Park. I am pursuing as <em>
                major in Information Systems</em> at the Robert H. Smith School of Business and <em>minor
                in Technology Entrepreneurship and Corporate Innovation at the A. James Clark School of
                Engineering.</em></p>

             <p>Beyond my studies, I am actively involved in <strong>leadership and extracurriculars</strong> that enrich my
                 time at UMD.</p>
                <ul>
                    <li>Professional Business Fraternity Delta Sigma Pi (DSP)</li>
                    <li>Women in Business Association</li>
                    <li>Information Technology and Business Transformation Fellows (iTBT)</li>
                 </ul>

        <!--Lists my technology skills and career interests-->
        <h2>Interests and Skills</h2>
            <p>My<strong>interest</strong> in technology and business has led me to pursue opportunities in roles such as:</p>
                <ol>
                    <li>Project Management</li>
                    <li>Data Research</li>
                    <li>Cybersecurity</li>
                    <li>Business Analyst</li>
                    <li>Systems Development</li>
                 </ol>
            <p>I am experienced in a diverse range of <strong>skills and languages</strong>, such as:</p>
                <ol>
                    <li>MS Office (Excel, Word, PowerPoint)</li>
                    <li>HTML</li>
                    <li>SQL</li>
                    <li>JAVA</li>
                 </ol>

    <!--table of the courses I took with semester labeled-->
        <p>Here are the list of courses I took and the semesters in which I took them:</p>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Semester</th>
                </tr>
                <tr>
                    <th>BMGT301</th>
                    <th>Spring 2022</th>
                </tr>
                <tr>
                    <th>BMGT402</th>
                    <th>Spring 2023</th>
                </tr>
                <tr>
                    <th>BMGT403</th>
                    <th>Fall 2023</th>
                </tr>
                <tr>
                    <th>BMGT407</th>
                    <th>Spring 2024</th>
                </tr>
            </table>

        <p>Here is a relative hyperlink to <a href="/hello"></a> /hello route.</p>

    <!--two hyperlinks of my favorite websites, which opens in a new browser tab-->
        <p>My favorite websites are <a href="https://www.canva.com" target="_blank">Canva website</a> and
            <a href="https://www.linkedin.com" target="_blank">LinkedIn website</a>.</p>

        <p>Here is a picture of the Smith logo.</p>
        <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
            width="267" height="72" alt="Smith Logo">

</body>
</html>