<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shreya Gupta's Profile</title>
</head>
<body>

    <h1>About me</h1>

        <!--General overview about myself and the extracurriculars I did in college.-->
    <h2>Background and Extracurriculars</h2>
            <p> I am currently a <strong>senior</strong> at the University of Maryland, College Park. I am pursuing as
                <strong>major in Information Systems</strong> at <em>the Robert H. Smith School of Business</em> and
                <strong>minor in Technology Entrepreneurship and Corporate Innovation</strong> at <em>the A. James Clark School of
                Engineering.</em> With the knowledge and skills gained from this dual academic specialization, I will be
                able to professionally and proficiently navigate the volatile business and technology convergence.
</p>

             <p>Beyond my studies, I am actively involved in <strong>leadership and extracurriculars</strong> that enrich
                 my time at UMD. I work part-time as an Instructional Designer at the Office of Transformational Learning
                 at Smith School of Business. In addition to this, I am also part of a professional business fraternity
                 called Delta Sigma Pi, where I attend networking events, professional development events, and skill-sharpening
                 activities on a weekly basis. I also held the position of DEI Chair on the executive board of the Women
                 in Business Association.</p>

        <!--Lists my technology skills and career interests-->
    <h2>Interests and Skills</h2>
            <p>My<strong> interest</strong> in technology and business has led me to pursue opportunities in roles such as:</p>
                <ul>
                    <li>Project Management</li>
                    <li>Data Research</li>
                    <li>Cybersecurity</li>
                    <li>Business Analyst</li>
                    <li>Systems Development</li>
                 </ul>
            <p>I am experienced in a diverse range of <strong>skills and languages</strong>, such as:</p>
                <ol>
                    <li>MS Office (Excel, Word, PowerPoint)</li>
                    <li>HTML</li>
                    <li>SQL</li>
                    <li>JAVA</li>
                 </ol>

    <!--table of the courses I took with semester labeled-->
    <p>Here are the <strong>list of courses</strong> I took and the semesters in which I took them:</p>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Semester</th>
                </tr>
                <tr>
                    <td>BMGT301</td>
                    <td>Spring 2022</td>
                </tr>
                <tr>
                    <td>BMGT402</td>
                    <td>Spring 2023</td>
                </tr>
                <tr>
                    <td>BMGT403</td>
                    <td>Fall 2023</td>
                </tr>
                <tr>
                    <td>BMGT407</td>
                    <td>Spring 2024</td>
                </tr>
            </table>

    <!--Relative hyperlink to hello route-->
    <p>Here is my <strong>relative hyperlink </strong>to <a href="/hello"><em>hello</em></a> route.</p>

    <!--two hyperlinks of my favorite websites, which open in a new browser tab-->
    <p>My <strong>favorite websites</strong> are <a href="https://www.canva.com" target="_blank"><em>Canva</em></a> and
            <a href="https://www.linkedin.com" target="_blank"><em>LinkedIn</em></a>.</p>

    <!--Robert H. Smith logo-->
    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
            width="267" height="72" alt="Smith Logo">

</body>
</html>