{% extends "base.html" %}

{% block page_title %}
    View All Students  <!-- Page title block -->
{% endblock %}

{% block page_head %}
    View All Students  <!-- Page head block -->
{% endblock %}

{% block page_content %}

    <div class="row">
    <div class="col">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }}" role="alert">
                    {{ message }} <!-- Flash messages display -->
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <table class="table table-striped"> <!-- Table for displaying student data -->
        <tr>
            <th>Last Name</th>
			<th>First Name</th>
            <th>Major</th>
            <th>Email</th>
            <th>Is Honors?</th>
            <th>Actions</th>
        </tr>

        {% for each_student, each_major in students %} <!-- Loop through students data -->
        <tr>
            <td><a href="{{ url_for('student_view', student_id=each_student['student_id']) }}">{{ each_student['last_name'] }}</a></td> <!-- Link to view individual student -->
            <td>{{ each_student['first_name'] }}</td> <!-- Display first name -->
            <td>{{ each_major['major'] }}</td> <!-- Display student's major -->
            <td>{{ each_student['email'] }}</td> <!-- Display student's email -->

            <td>{{ 'Yes' if each_student['is_honors'] == 1 else 'No' }}</td> <!-- Display whether student is in honors program -->
            <td>
                <a href="{{ url_for('student_edit', student_id=each_student['student_id']) }}" class="btn btn-secondary" role="button">Edit</a> <!-- Link to edit student -->
                &nbsp;
                <a href="{{ url_for('student_delete', student_id=each_student['student_id']) }}" class="btn btn-secondary" role="button">Delete</a> <!-- Link to delete student -->
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>

    <div class="row">
        <div class="col">
            Total Number of Students: {{ students|length }} <!-- Display total number of students -->
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('student_create') }}" class="btn btn-primary" role="button">Add New Student</a> <!-- Link to add new student -->
        </div>
    </div>

{% endblock %}