{% extends "base.html" %} <!-- Extends the base.html template -->

{% block page_title %}
    Training <!-- Training for the page_title block -->
{% endblock %}

{% block page_head %}
    <!-- Training Page content under construction message for the page_header block -->
    Welcome to your training for the TerpSys Student Information System
    Training materials are currently under construction, but will be created very soon.
    Please check back soon or email Shreya Gupta at <a href="mailto:shreyg@umd.edu">shreyg@umd.edu</a> if you wish to be placed on the waiting list.
{% endblock %}
